*{
	padding:0;
	margin:0;
	font-family: arial;
	font-size: 20px;
}
body{
	background-color: #e9faff;
}
#container{
	width: 960px;
	margin:0 auto;
	
}
a{
	text-decoration: none;
	color:#000;
}
a:hover{
	text-decoration: underline;
}
header,footer,header .top,header .bottom{
	width: 960px;
}
header,section.main,footer,header .top,header .bottom{
	float: left;
}
header{
	border-top:2px solid #88c6e5;
	border-left:2px solid #88c6e5;
	border-right:2px solid #88c6e5;
}
header .top{
	height:40px; 
	line-height: 40px;
	background-color: #e1eced;
	border-bottom:1px solid #88c6e5;
}
header .bottom{
	border-bottom:1px dashed #88c6e5;
}
header .bottom h2{
	font-size: 30px;
}
header .bottom li{
	float: left;
	list-style: none;
}
header .bottom li a{
	display: block;
	padding:10px 135px;
	font-size: 15px;
}
section.main{
	width: 860px;
	padding:0 50px;
	line-height: 30px;
	border-bottom:2px solid #88c6e5;
	border-left:2px solid #88c6e5;
	border-right:2px solid #88c6e5;
}
section.main nav{
	border-top:1px dashed #88c6e5;
}
section.main li{
	float: left;
	list-style: none;
}
section.main li a{
	display: block;
	padding:10px 115px;
	font-size: 15px;
}
footer{
	margin-top: 10px;
}
footer nav{
	width: 960px;
	border:2px dashed #98d566;
	float: left;
}
footer nav ul li{
	float: left;
	list-style: none;
}
footer nav ul li a{
	display: block;
	padding:10px 95px;
}
footer nav ul li:nth-child(2) a{
	color:red;
}
footer nav ul li a:hover{
	color:red;
	text-decoration: none;
}
.footer-bottom{
	width: 800px;
	border-top: 2px dashed yellow;
	margin:0 auto;
	margin-top: 60px;
	margin-bottom: 20px;
	font-size: 12px;
}