@charset "UTF-8";
/*!
 * shengbangshenghua
*/
.navbar-default {
  border-bottom: 1px solid #e7e7e7;
  height: 75px; }

.navbar-header {
  height: 70px; }

.navbar {
  min-height: 80px;
  margin-bottom: 0; }

.navbar-brand {
  padding: 0; }

.navbar-default .navbar-nav > li > a {
  padding: 25px 35px;
  border-bottom: 5px solid #fff;
  color: #000;
  background-color: #f8f8f8; }

.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a.active {
  background-color: #a89f9f;
  color: #fff;
  border-bottom: 5px solid #6c5e5e; }

.navbar-default .navbar-nav > li > a.plane {
  background-color: #a1c72d;
  color: #fff; }

#carousel-example-generic img {
  width: 100%;
  height: 100vh; }

.about {
  margin-top: 20px; }
  .about h3 {
    font-size: 24px; }

.col-2-img a {
  color: #ff4005; }

.col-2-img a:hover {
  text-decoration: underline; }

.col-2-img p {
  line-height: 1.8em; }

.col-2-img img {
  width: 100px;
  height: 100px; }

/*footer*/
.foot {
  text-align: center;
  padding: 20px 0 20px 0;
  line-height: 28px;
  background: #FFFFFF;
  font-size: 12px; }

#footer {
  border: 1px solid #DDDDDD;
  font-size: 12px;
  color: #333; }

#footer .footer_nav {
  text-align: center;
  background: #F5F5F5;
  height: 39px;
  line-height: 39px;
  border-bottom: 1px solid #DDDDDD;
  margin: 0; }

#footer .footer_nav a {
  display: inline-block;
  margin: 0 8px; }

#footer .copyright {
  text-align: center;
  padding-top: 5px;
  background: #fff; }

#footer .copyright p {
  color: #666666;
  line-height: 24px;
  margin: 3px auto; }

#footer .copyright p img {
  vertical-align: middle;
  border: none; }

#footer .copyright a {
  margin: 0 5px; }

#footer .copyright a.qq {
  display: inline-block;
  margin-right: 4px;
  vertical-align: middle;
  width: 74px;
  height: 23px;
  background: url(image/QQcall.gif) no-repeat; }

#footer .fttp {
  height: 70px;
  margin: 10px auto 0;
  width: 240px; }

#footer .fttp span {
  display: inline-block; }

#footer .fttp span.footer-logo_sp {
  background: url(image/logo_sp.png) no-repeat scroll 0 0 transparent;
  height: 60px;
  width: 225px; }

.fttp b.footer-logo_xkz {
  background: url(/skin/chinajsq.cn/image/bootr.jpg) no-repeat left top;
  width: 130px;
  height: 50px;
  display: inline-block;
  float: left; }

.fttp b.footer-logo_wj {
  background: url(/skin/chinajsq.cn/image/bootr.jpg) no-repeat 10px -52px;
  width: 85px;
  height: 50px;
  display: inline-block; }

/*20160314站内站底部新增热门品牌模块*/
.new_tit {
  width: 100%;
  float: left;
  border-bottom: 1px solid #e4e4e4;
  display: inline-block;
  height: 35px; }

.new_tit h3 {
  float: left;
  height: 34px;
  font: 16px/34px "Microsoft YaHei";
  padding-left: 20px;
  padding-right: 20px; }

.new_tit a {
  float: right;
  padding-right: 10px;
  font-size: 12px;
  color: #7a7a7a; }

.hot_brand {
  width: 100%;
  float: left;
  min-height: 150px; }

.hot_brand ul {
  float: left;
  display: none;
  padding: 10px 0;
  margin: 0; }

.hot_brand ul li {
  width: 100px;
  float: left;
  line-height: 26px;
  text-indent: 10px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  font-size: 14px; }

.switch_icon {
  text-align: center;
  width: 100%;
  padding-top: 5px; }

.switch_icon a {
  display: inline-block;
  width: 12px;
  height: 12px;
  border: 1px solid #d4d5d5;
  border-radius: 100%;
  *margin-right: 5px;
  cursor: pointer;
  margin: 0 5px; }

.switch_icon a.on {
  border: 2px solid #a62626;
  width: 10px;
  height: 10px; }

/*首页底部新增友情链接*/
.new_tit ul {
  padding: 0;
  margin: 0; }

.new_tit ul li {
  float: left;
  height: 35px;
  line-height: 35px;
  padding: 0 15px;
  font-family: microsoft yahei,simhei;
  cursor: pointer; }

.links {
  padding: 10px;
  float: left;
  display: none; }

.links a {
  display: inline-block;
  padding-right: 15px;
  float: left;
  height: 26px;
  line-height: 26px;
  white-space: nowrap;
  font-size: 14px; }

.jumbotron {
  background-image: url(../img/banner.png);
  background-size: 100% 100%;
  text-align: center;
  padding-top: 100px;
  padding-bottom: 150px;
  margin-bottom: 0; }
  .jumbotron h2 {
    font-size: 40px;
    color: #fff; }
  .jumbotron a {
    display: inline-block;
    border: 3px solid #fff;
    padding: 17px;
    font-size: 14px;
    color: #fff;
    border-radius: 5px; }
  .jumbotron a:hover {
    text-decoration: none; }
  .jumbotron p {
    font-size: 24px;
    color: #fff; }

.col-3 {
  background-color: #5782b7;
  padding-top: 40px;
  padding-bottom: 30px; }
  .col-3 img {
    margin-bottom: 20px; }
  .col-3 .hezi {
    text-align: center; }

.hezi::after {
  display: table;
  clear: both;
  content: ""; }

.people {
  margin-top: 60px;
  text-align: left; }
  .people h3 {
    font-size: 18px;
    color: #656565; }
  .people .dazi {
    font-size: 18px;
    margin-top: 20px;
    margin-bottom: 20px; }
  .people .xiaozi {
    font-size: 14px; }
  .people img {
    width: 100%; }

.goal {
  margin-top: 30px; }
  .goal .col-md-6 {
    margin-top: 30px; }
  .goal .hezi {
    display: inline-block;
    padding: 15px;
    background-color: #406da4;
    border-radius: 5px;
    float: left;
    margin-right: 15px;
    margin-bottom: 30px; }
  .goal h3 {
    font-size: 18px;
    color: #656565;
    margin-top: 0; }

.computer {
  text-align: center;
  margin-top: 100px;
  padding-bottom: 20px; }
  .computer .hezi {
    padding-left: 50px;
    padding-right: 50px; }
    .computer .hezi h2 {
      font-size: 20px;
      margin-top: 40px;
      margin-bottom: 20px;
      color: #406da4; }
    .computer .hezi p {
      font-size: 16px;
      color: #8b8bac; }
  .computer .ul {
    margin-top: 35px;
    text-align: center; }
    .computer .ul ul {
      border-top: 1px solid #cccccc;
      text-align: center; }
      .computer .ul ul li {
        list-style: none;
        display: inline-block;
        margin: 0px;
        margin-top: -1px; }
        .computer .ul ul li a {
          display: inline-block;
          padding: 16px;
          color: #cccccc;
          text-decoration: none;
          border-top: 1px solid #cccccc;
          margin: 0; }
        .computer .ul ul li a:hover, .computer .ul ul li a.active {
          border-top: 1px solid #406da4; }

@media (max-width: 720px) {
  .computer .hezi img {
    width: 100%; } }

.recent h3 {
  line-height: 50px;
  margin-bottom: 0; }

.recent a {
  float: right;
  display: inline-block;
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 12px;
  padding-bottom: 12px;
  font-size: 14px;
  color: #fff;
  background-color: #406da4;
  border-radius: 5px;
  text-decoration: none; }

.recent a:hover {
  background-color: #0D1AA4; }

.recent img {
  width: 100%; }

.latest {
  margin-top: 50px; }
  .latest h3 {
    line-height: 50px;
    margin-bottom: 0; }
  .latest img {
    width: 100%; }
  .latest .xiao-12 {
    margin-bottom: 25px; }
    .latest .xiao-12 .col-md-5 {
      padding-right: 5px; }
    .latest .xiao-12 .col-md-7 {
      padding-left: 5px; }
    .latest .xiao-12 h4 {
      font-size: 14px;
      margin-top: 0; }
    .latest .xiao-12 p {
      font-size: 12px; }
  .latest .anniu {
    text-align: center;
    border: 1px solid #cccccc;
    line-height: 80px;
    color: #406da4;
    cursor: pointer; }

.xia-col-3 {
  background-color: #406da4;
  padding-top: 50px;
  padding-bottom: 50px;
  color: #fff;
  margin-bottom: 50px; }
  .xia-col-3 img {
    float: left;
    margin-bottom: 20px;
    margin-right: 10px; }
  .xia-col-3 .dazi {
    font-size: 25px;
    margin-bottom: 0; }
  .xia-col-3 .xiaozi {
    font-size: 14px; }
