.navbar-default {
  border-bottom: 1px solid #e7e7e7;
  height: 75px;
}
.navbar {
  min-height: 80px;
  margin-bottom: 0;
}

.navbar-brand {
  padding: 0;
}

.navbar-default .navbar-nav > li > a{
  padding: 25px;
  border-bottom:5px solid #fff;
  color:#000;
}

.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a.active {
  background-color: #a89f9f;
  color: #fff;
  border-bottom:7px solid #6c5e5e;
}

.navbar-default .navbar-nav > li > a.plane {
  background-color: #a1c72d;
  color: #fff;
}

#carousel-example-generic{
  img{
    width: 100%;
    height: 100vh;
  }
}








.jumbotron {
  background-image: url(../img/banner.png);
  background-size: 100% 100%;
  text-align: center;
  padding-top: 100px;
  padding-bottom: 150px;
  margin-bottom: 0;
  h2 {
    font-size: 40px;
    color: #fff;
  }
  a {
    display: inline-block;
    border: 3px solid #fff;
    padding: 17px;
    font-size: 14px;
    color: #fff;
    border-radius: 5px;
  }
  a:hover {
    text-decoration: none;
  }
  p {
    font-size: 24px;
    color: #fff;
  }
}

.col-3 {
  background-color: #5782b7;
  padding-top: 40px;
  img {
    margin-bottom: 20px;
  }
  padding-bottom: 30px;
  .hezi {
    text-align: center;
  }
}

.hezi::after {
  display: table;
  clear: both;
  content: "";
}

.people {
  margin-top: 60px;
  text-align: left;
  h3 {
    font-size: 18px;
    color: #656565;
  }
  .dazi {
    font-size: 18px;
    margin-top: 20px;
    margin-bottom: 20px;
  }
  .xiaozi {
    font-size: 14px;
  }
  img {
    width: 100%;
  }
}

.goal {
  margin-top: 30px;
  .col-md-6 {
    margin-top: 30px;
  }
  .hezi {
    display: inline-block;
    padding: 15px;
    background-color: #406da4;
    border-radius: 5px;
    float: left;
    margin-right: 15px;
    margin-bottom: 30px;
  }
  h3 {
    font-size: 18px;
    color: #656565;
    margin-top: 0;
  }

}

.computer {
  text-align: center;
  margin-top: 100px;
  padding-bottom: 20px;
  .hezi {
    padding-left: 50px;
    padding-right: 50px;
    h2 {
      font-size: 20px;
      margin-top: 40px;
      margin-bottom: 20px;
      color: #406da4;
    }
    p {
      font-size: 16px;
      color: #8b8bac;
    }
  }
  .ul {
    margin-top: 35px;

    text-align: center;
    ul {
      border-top: 1px solid #cccccc;
      text-align: center;
      li {
        list-style: none;
        display: inline-block;
        margin: 0px;
        margin-top: -1px;
        a {
          display: inline-block;
          padding: 16px;
          color: #cccccc;
          text-decoration: none;
          border-top: 1px solid #cccccc;
          margin: 0;
        }
        a:hover, a.active {
          border-top: 1px solid #406da4;
        }
      }
    }
  }
}

@media (max-width: 720px) {
  .computer {
    .hezi {
      img {
        width: 100%;
      }
    }
  }
}

.recent {
  h3 {
    line-height: 50px;
    margin-bottom: 0;
  }
  a {
    float: right;
    display: inline-block;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 12px;
    padding-bottom: 12px;
    font-size: 14px;
    color: #fff;
    background-color: #406da4;
    border-radius: 5px;
    text-decoration: none;
  }
  a:hover {
    background-color: #0D1AA4;
  }
  img {
    width: 100%;
  }
}

.latest {
  margin-top: 50px;
  h3 {
    line-height: 50px;
    margin-bottom: 0;
  }
  img {
    width: 100%;
  }
  .xiao-12 {
    margin-bottom: 25px;
    .col-md-5 {
      padding-right: 5px;
    }
    .col-md-7 {
      padding-left: 5px;
    }
    h4 {
      font-size: 14px;
      margin-top: 0;
    }
    p {
      font-size: 12px;
    }
  }
  .anniu {
    text-align: center;
    border: 1px solid #cccccc;
    line-height: 80px;
    color: #406da4;
    cursor: pointer;
  }
}

.xia-col-3 {
  background-color: #406da4;
  padding-top: 50px;
  padding-bottom: 50px;
  color: #fff;
  margin-bottom: 50px;
  img {
    float: left;
    margin-bottom: 20px;
    margin-right: 10px;
  }
  .dazi {
    font-size: 25px;
    margin-bottom: 0;
  }
  .xiaozi {
    font-size: 14px;
  }
}

.footer-header {
  background-color: #ebebeb;
  .container {
    h3 {
      margin-top: 20px;
      margin-bottom: 20px;
      color:#656577;
    }
  }
  p{
    line-height: 66px;
    margin-bottom: 0;
  }
  a{
    display: inline-block;
    padding: 15px;
    margin: 0;
    line-height: 1em;
    text-decoration: none;
    color:#fff;
    background-color: #406da4;
    border-radius: 5px;
  }
  a:hover{
    background-color: #2872cd;
  }

}

.footer {
  padding-top: 30px;
  padding-bottom: 30px;
  background-color: #49494b;
  color: #cccccc;
  font-size: 12px;
  .bottom-logo{
    margin-bottom: 20px;
  }
  ul {
    padding: 0;
    li {
      list-style: none;
      a{
        color: #cccccc;
        text-decoration: none;
      }
      a:hover{
        text-decoration: underline;
      }
    }
  }
  .ul{
    li{
      line-height: 3.0em;
    }
  }
  h3{
    margin-top: 0;
  }
  input{
    width: 160px;
    height: 50px;
    background-color: #414143;
    color:#999999;
    display: inline-block;
  }
  .anniu{
    width: 90px;
    height: 50px;
    display: inline-block;
    background-color: #406da4;
    color:#fff;
    border:0;
    margi-left:-5  px;
    margin-bottom: 10px;
  }
}

.footer-bottom{
  background-color: #323232;
  color:#fff;
  text-align: center;
  line-height: 50px;
  p{
    margin-bottom: 0;
  }
}