.navbar-default {
  background-color: #fff;
}

.navbar {
  min-height: 90px;
  margin-bottom: 0;
}
.navbar-header{
  height: 64px;
}
.navbar-brand {
  padding: 0 15px;
}
.navbar-nav>li>a {
  padding-top: 35px;
  padding-bottom: 35px;
}
.navbar-default .navbar-nav>li>a:hover,.navbar-default .navbar-nav>li>a.active {
  color: #f58220;
}
.jumbotron {
  background-image: url(../img/banner.png);
background-size: 100% 100%;
  background-repeat: no-repeat;
  padding-top: 220px;
  padding-bottom: 128px;
  a{
    background-color: #f58a2e;
    border:0;
  }
  a:hover{
    background-color: #F56014;
  }
}
.hezi{
  text-align: center;
}
.yuan-kuang{
  margin-top: 50px;
  margin-bottom: 50px;
}
.yuan{
  float: left;
  padding: 30px 10px;
}
.col-md-4::after{
  display: table;
  clear: both;
  content:"";
}
.student{
  background-color: #f58a2e;
  color:#fff;
  line-height: 1.8em;
}
.student-ul{
  padding: 0;
  li{
    list-style: none;

    i{
      display: inline-block;
      width: 15px;
      height: 13px;
      background-image: url(../img/right.png);
    }
  }
}
.img-kuang{
  margin-top: 50px;
  margin-bottom: 50px;
  p{
    font-size: 14px;
  }
}
.img{
  img{
    width: 100%;
  }
}
h6{
  font-size: 14px;
  font-weight: bold;
  margin-top: 30px;
  span{
    color:#85b4dd;
  }
}

.more-logo{
  margin-bottom: 100px;
  .all-logo{
    display: flex;
    justify-content: center;
    align-items: center;
    border:1px solid #f4f4f4;
    border-radius: 5px;
    img{
      padding-top: 20px;
      padding-bottom: 20px;
    }
  }
}
.footer-nav{
  background-color: #2d2d2d;
  color:#fff;
  padding-top: 60px;
  padding-bottom: 60px;
  ul{
    padding: 0;
    li{
      list-style: none;
    }
  }
}
.footer{
  padding-top: 30px;
  padding-bottom: 30px;
  background-color: #202020;
  color:#fff;
  ul{
    li{
      list-style: none;
      float: left;
      padding: 10px;
      i{
        display: inline-block;

      }
    }
  }
}