/* 团队介绍
制作团队：任家庆、杨文博、陈佳伟、佟思凡、李朵朵
*/
.team {
  background-color: #f5f5f5;
  padding-bottom: 50px;
  padding-top: 50px;
  img {
    width: 100%;
  }
  h2 {
    padding-top: 25px;
    padding-bottom: 25px;
    margin: 0;
  }
  p {
    line-height: 150%;
    color: #65656a;
    padding-top: 5px;
    padding-bottom: 5px;
    margin: 0;
  }
}