*{
    padding:0;
    margin:0;
    box-sizing: border-box;
}
html{
    overflow-x: hidden;
    background-color: #000;

}
header{
    width: 100%;
    text-align: center;
    color:#fff;
}
header h2{
    font-size: 40px;
    margin-bottom: 10px;
}
header .line{
    width: 130px;
    border-bottom: 3px solid #fff;
    margin:auto;
}
header p{
    font-size: 20px;
    margin-top: 10px;
}
.wrap{
    height: 1400px;
    overflow: hidden;
    margin-bottom: 200px;
}
.wrap ul{
    transform-style:preserve-3d;
    transform: translateX(15%) translateY(-194px) rotateX(45deg) rotate(45deg);
    width: 1080px;
    margin:auto;
}
.wrap ul::after{
    display: table;
    clear: both;
    content:"";
}
.wrap ul li{
    float: left;
    list-style: none;
    margin:15px;
    position: relative;
    width: 330px;
    height: 230px;
    background-color: rgba(255,255,255,0.5);
    transition: 0.3s;
}
.wrap ul li:hover{
    box-shadow: 0 0 50px #fff;//Æ«ÒÆ£¬Æ«ÒÆ£¬Ä£ºý¾àÀë£¬ÑÕÉ«
}
.wrap ul li img{
    width: 330px;
    height: 230px;
    position: absolute;
    z-index: 4;
    transition: 0.5s;
}
.wrap ul li div{
    width: 330px;
    height: 230px;
    position: absolute;
    transition: 0.5s;
}
.wrap ul li div:nth-of-type(1){
    background-color: rgba(172,92,245,0.5);
    z-index: 3;
}
.wrap ul li div:nth-of-type(2){
    background-color:  rgba(93, 180, 230, 0.5);
;
    z-index: 2;
}
.wrap ul li div:nth-of-type(3){
    background-color: rgba(93, 235, 180, 0.5);
    z-index: 1;
}
.wrap ul li:hover img{
    transform: translateZ(100px);
    z-index: 10;
}
.wrap ul li:hover div:nth-of-type(1){
    transform: translateZ(75px);
    z-index: 9;
}
.wrap ul li:hover div:nth-of-type(2){
    transform: translateZ(50px);
    z-index: 8;
}
.wrap ul li:hover div:nth-of-type(3){
    transform: translateZ(25px);
    z-index: 7;
}